formatting
	strong
	em
	ins


for boddering
	<style >width: 300px;
	    border: 25px solid green;
	    padding: 25px;
	    margin: 25px;
	</style>


<p>color of clothe
		<select>
		<option>red		</option>			
		<option selected>green		</option>			
		<option>white		</option>			
		</select>
	</p>

<p><input type="submit" value="s"></p>

value attrib for default value
placeholder for giving clue


relative postion

css resets


a:hover{
	
}


html5

contenteditable on all tags



boxshadow 